[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
jupyter = "*"
pytest = "*"
pytest-pylint = "*"
autopep8 = "*"

[packages]
fastapi = "*"
sqlalchemy = "*"
typing-extensions = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = ">=2.8"

[requires]
python_version = "3"
